*{
	padding: 0;
	margin: 0;
	list-style: none;
	box-sizing: border-box;
}
a{
	text-decoration:none;
}
body{
	font-family: 'Open Sans', sans-serif;
}
.container{
	width: 1140px;
	margin: 0 auto;

}
.primary__btn{
padding:10px 20px;
background: #00BAFC;
border-radius: 5px;
border:none;
color: #fff;
font-weight: 600;
}
.primary__text{
	padding: 20px 0;
font-style: normal;
font-weight: normal;
font-size: 16px;
line-height: 24px;
color: #000000;
}
.primary__title{
	padding-top: 0;
font-style: normal;
font-weight: bold;
font-size: 30px;
line-height: 130%;
color: #000000;
}
.navbar{
	padding: 20px 0;
}
.navbar>.container{
	  display: flex;
     align-items: center;
     justify-content: space-between;
}
.nav__logo{
	width: 20%;

}
.nav-list{
	width: 50%;
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.nav__item a{
	
font-style: normal;
font-weight: 600;
font-size: 15px;
line-height: 24px;
color: #000000;

}
.nav__item a:hover{
	color: rgba(0,0,0,0.6);
	transition:0.7s;
}
.nav-tel__link a{
  color: #fff;
  font-weight: 600;
}
.bosqich{
	padding: 100px 0;
}

.bosqich>.container{
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.bosqich__content{
	width: 45%;
}
.bosqich__photo{
	padding-top: 50px;
	width: 40%;
}
.bosqich__photo iframe{
	width: 100%;
}
.bosqich__btn{
	padding: 15px 20px;
}
.xizmatlar{
	padding: 150px 0;
}
.xizmatlar>.container{
	margin: 0 auto;
	 display: block;
	 justify-content: center;
}
.xizmatlar__header__title{
	margin: 0 auto;
	text-align: center;
}
.xizmatlar__header__text{
	margin: 0 auto;
	width: 60%;
	text-align: center;
}


.xizmatlar__body__box img{
	width: 80%;
}
.xizmatlar__body__boxs {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    width: 1140px;
    margin: 0 auto;
}

.xizmatlar__body__box {
    width: 320px;
    padding: 24px;
    margin: 30px;
    margin-bottom: 40px;
    border-radius: 5px;
    background: #FFFFFF;
    box-shadow: 0px 8px 8px rgba(0, 0, 0, 0.1);
}

.xizmatlar__body__box img {
    justify-content: center;

}
.xizmatlar__footer{
	width: 100%;
	margin: 0 auto;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 20px 0;
}
.xizmatlar__footer__btn{
	
}
.xizmatlar__footer__link{
	
	margin-left: 20px;
}
.xizmatlar__footer__link{
	color: #00BAFC;
}
.biz-qanday-ishlaymiz__header{
	margin: 0 auto;
	text-align: center;
	display: block;
	justify-content: center;

}
.biz-qanday-ishlaymiz__text{
	margin: 0 auto;
	width: 60%;
}
.biz-qanday-ishlaymiz__body__talablar{
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.biz-qanday-ishlaymiz__body__photo{
	width: 40%;
}
.biz-qanday-ishlaymiz__body__photo img{
	width: 100%;
}
.biz-qanday-ishlaymiz__body__content{
	width: 45%;
}
.Bir-necha-yechimlarni-taklif-qilamiz{
	display: flex;
	align-items: center;
	justify-content: space-between;
	flex-direction: row-reverse;
}
.biz-qanday-ishlaymiz__body{
	padding: 40px 0;
}
.biz-qanday-ishlaymiz__btn{
	margin: 0 auto;
	display: block;
	justify-content: center;
}
.buyurtma-berish{
	background-color: #00BAFC;

}
.buyurtma-berish>.container{
	padding: 70px 0;
	margin: 0 auto;	
	display: block;
	justify-content: column;
}
.buyurtma-berish__header{
	
	margin: 0 auto;
	text-align: center;
}
.buyurtma-berish__title {
	color: #fff;
}
.buyurtma-berish__text{
	margin: 0 auto;
	color: #fff;
	width: 60%;
}
.buyurtma-berish__form{
	margin: 0 auto;
	width: 30%;
	background-color: #fff;
	padding: 30px 25px;
	justify-content: column;
	border-radius: 5px;
	text-align: center;
}
.buyurtma-berish__form__input input{
	width: 100%;
	border:none;
	background-color: #F3F3F3;
	padding: 20px 10px;
	margin: 10px 0;
	border-radius: 5px;

}
.buyurtma-berish__select{
	width: 100%;
	padding: 15px 10px;
	background-color: #F3F3F3;
	border:none;
	margin-bottom: 30px;
}
.buyurtma-berish__form__btn{
	margin: 0 auto;
	text-align: center;

}
::placeholder{
	color: #000;
}
.footer{
	padding: 100px 0;
	background-color: #191919;
	color: #fff;
}
.footer>.container{

	display: flex;
	
	justify-content: space-around;
}
.footer__copyright{
	width: 30%;
	color: #fff;
}
.footer__copyright__title{
	color: #fff;
}
.footer__copyright__text{
	color: #fff;
}
.primary__title a{
	color: #fff;
}
.footer__item{
	padding: 5px 0;

}
.footer__item a:hover{
	opacity: 0.2s;
}
.footer__item a{
	color: #fff;
}
.footer-link{

}
.footer-link__item{
	display: flex;
	align-items: center;
}
.footer-link__item a{
	color: #fff;
}
.footer-link__item a:hover{
	transition: 0.5s;
	opacity: 0.2;
}
.footer-link__span{
	color:#fff;
	font-size: 30px;
	
	margin-right: 15px;
}

